/*  Assignment 1 */


body {
  margin: 0;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}


header {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 5%;
}

.brand {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.brand img {
  width: 40px;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "welcome";
  gap: 3rem;
  padding: 2rem 5%;
}

.welcome {
  grid-area: welcome;
  text-align: center;
}
